* {
  margin: 0px;
  padding-left: 0px;
}

body {
  background-color: #fff;
  color: lightgray;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.header{
  text-align: center;
  font-family: "Roboto Slab", serif;
  position: relative;
  padding: 8px 8px 32px 8px;
  background: black;
}

.header h1 {
  color: lightgray;
  font-size: 42px;
  padding: 30px 0px;
  font-family: "Roboto Slab", serif;
  letter-spacing: .5em;
  font-weight: lighter;
}

.nav {
  display: flex;
  justify-content: center;
}


.nav a {
  margin: 0px 15px;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 5px solid cadetblue;
  padding-bottom: 20px;
  margin-bottom: -25px;
}

.wrapper {
  background-image: url(../images/StockSnap_DWLWL9USBG.jpg);
  min-height: 390px;
  /*height: 442px;*/
  display: flex;
  padding: 50px 150px;
  /* for parallax scroll*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

span {
  color: #82D3E0;
  /*color: deepskyblue;*/
  font-weight: bold;
  margin-right: 5px;
}

.basics {
  padding: 20px 0px;
  width: 200px;
}

.list li {
  list-style: none;
  margin: 10px;
  display: flex;
}

.story {
  margin-left: 40px;
  padding: 20px;
}

.story p {
  border-left: 2px solid lightgray;
  padding-left: 35px;
  line-height: 2em;
}

 .story h1, .basics h1 {
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
  color: lightgray;
  text-shadow: 1px 1px black;
}

a {
  color: lightgray;
}

#icon {
  margin-right: 25px;
  order: -1;
}

img {
  border: 2px solid lightgray;
  border-radius: 15%;
  width: 150px;
  margin-top: 115px;
}

/****** Tablet Styling ******/

@media (max-width: 1000px) {


.wrapper {
flex-wrap: wrap;
height: 100%;
}

.basics {
  order: 0;
  flex: 1 1 30%;
}

#icon {
  order: -5;
  flex: 1 1 30%;
  margin-top: - 30px;
}

.story {
  order: 5;
  border-top: 2px solid lightgray;
}

.story p {
  border-left: none;
}
}

/******** Mobile View ********/

@media (max-width: 500px) {

nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding:  5px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}

nav a {
  flex: 1 1 10%;
  display: flex;
  justify-content: center;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}


.header h1 {
  font-size: 28px;
}

.wrapper {
  width: 100%;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

#icon {
  margin-left: 0px;
}

.basics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.story, .icon {
  width: 80%;
}

.story {
  margin-left: 0px;
}

.story p {
  padding-left: 0px;
  text-align: center;
}

.basics h1, .story h1  {
  text-align: center;
  padding-bottom: 0px;
}

.basics ul {
  /*margin-left: 100px;*/
}

img {
  margin-top: 20px;
}

}
