/** {
  margin: 0;
  margin: 0;
}*/

/*body {
  background-color: cadetblue;
  color: aliceblue;
  text-shadow: 2px 2px 2px gray;
  font-family: "Roboto", sans-serif;
}*/

/*.header {
  text-align: center;
  text-shadow: none;
  font-family: "Roboto Slab", serif;
  position: relative;
  padding: 8px;
  background: black;
}*/

/*.header h1 {
  color: lightgray;
  font-size: 42px;
  padding: 30px 0px;
  font-family: "Roboto Slab", serif;
  letter-spacing: .5em;
  font-weight: lighter;
  margin: 0;
}*/

/*.nav {
  background-color: black;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  justify-content: center;
  padding: 15px 0px;
}*/

/*.nav a {
  color: aliceblue;
  margin: 0px 15px;
  text-decoration: none;
}*/

/*.nav a:hover {
  border-bottom: 5px solid cadetblue;
  padding-bottom: 10px;
  margin-bottom: -15px;
}*/

/******* Menu toggle styling **************/

/*.container {
  display: inline-block;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 10px;
   right: 20px;
}*/

/*.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #82e9de;
  transition: 0.4s;
}*/

/* Rotate first bar */
/*.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}*/

/* Fade out the second bar */
/*.change .bar2 {
    opacity: 0;
}*/

/* Rotate last bar */
/*.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}*/

/* End Menu toggle styling */

/*#image-blur {
 background-image: url(../images/itunes_search_project.png);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 500px;
}*/

/*#image-blur2 {
background-image: url(../images/calculator_project.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 500px;
}*/

/*#image-blur3 {
  background-image: url(../images/bent_creek_ceramics.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}*/

/*#layer1 {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}*/

/*#layer2 {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*#layer3 {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*div h2 {
 margin: 40px auto;
 color: black;
 font-size: 48px;
}*/

/*#layer1 h1, #layer2 h1, #layer3 h1 {
  margin: 40px auto;
  color: black;
  font-size: 48px;
  text-align: center;
}*/

/*#layer1 h1 a, #layer2 h1 a, #layer3 h1 a {
  color: black;
  text-decoration: none;
}*/

/*#layer1 h1 a:hover, #layer2 h1 a:hover, #layer3 h1 a:hover {
  border-bottom: 5px solid black;
  border-radius: 5px;
  color: black;
  padding: 5px;
}*/

/*.section {
  font-size: 20px;
  line-height: 1.6em;
  padding: 40px 175px;
  line-height: 2em;
}*/

/*.section p {
  color: aliceblue;
}*/

/*#footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}*/

/*#footer a {
  margin: 0px 25px;
}*/

/*#linkedin {
  height: 35px;
}*/

/*#linkedin:hover {
  border-top: 5px solid cadetblue;
  padding-top: 13px;
  margin-top: -18px;
}*/

/*#github {
  height: 35px;
}*/

/*#github:hover {
  border-top: 5px solid cadetblue;
  padding-top: 13px;
  margin-top: -18px;
}*/

/*#mailIcon {
width: 50px;
height: 55px;
}*/

/*#mailIcon:hover {
border-top: 5px solid cadetblue;
padding-top: 3px;
margin-top: -8px;
}*/
